*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
:root{
  --primary: #00adb5;
  --secondary: white;
  --primary-text: black;
  --secondary-text: white;
}
.dark-mode{
  --primary: #00ADB5;
  --secondary: #222831;
  --primary-text: white;
  --secondary-text: white;
}
.header{
  padding: 20px;
  margin: 0;
  text-align: left;
  background-color: var(--primary);
  color:var(--secondary-text);
  font-size: 18pt;
}
hr {
  box-sizing: content-box;
  display: block;
  border: none;
  width: 100%;
  height: 1px;
  margin: 0 auto;
  margin-top: -1px;
  border-bottom: 1px solid #dee2e5;
}
.title{
  font-size: 18pt;
}
.subtitle{
  font-size: 12pt;
  opacity: .8;
}
.subtitle a {
  text-decoration: none;
  color: var(--secondary-text);
}
.row {
  margin: 0 0 0 35%;
  display: block;
}
body{
  background-color:var(--secondary);
}
.wrapper{
  position: absolute;
  margin: 0 0 0 35%;
  width: 30%;
  height: 100%;
  display: block;
}
.quote{
  text-align: center;
  list-style: inside;
  margin:0;
  padding-top: 20px;
  color: var(--primary-text);
}
h3{
  padding: 15px;
  text-align: center;
  background-color: #393e46;
  color: var(--secondary-text);
}
.menu ul li{
  display: block;
}
.menu ul li a{
  padding: 15px;
  text-align: center;
  font-size: 18pt;
  display: block;
  color: var(--primary-text);
  background: none;
  text-decoration: none;
  background-color: var(--secondary);
}
.menu ul li a:hover{
  background-color:var(--primary);
  color:var(--secondary-text);
}
